In [1]:
import pandas

In [2]:
df = pandas.read_csv('../donaldTrumpTweets', sep='\t', encoding='latin1')

In [3]:
df.head()

                   ID                                              Tweet
0  588443944138092545                                      Not Available
1  588511229603401729  Dear #DonaldTrump: Do you want to see #Hillary...
2  588803701277650946  #Trump compares #JebBush to #liberal U.S. Pres...
3  589152148702814208  Trump Lets His Followers Know '#HillaryClinton...
4  589159815739482112  Donald Trump blows his trumpet once again, but...

In [5]:
#Parse out not available tweets 
availableTweets = df.loc[df['Tweet'] != 'Not Available']
availableTweets.head()

                   ID                                              Tweet
1  588511229603401729  Dear #DonaldTrump: Do you want to see #Hillary...
2  588803701277650946  #Trump compares #JebBush to #liberal U.S. Pres...
3  589152148702814208  Trump Lets His Followers Know '#HillaryClinton...
4  589159815739482112  Donald Trump blows his trumpet once again, but...
5  589188383299215361  #DonaldTrump spreads the message that '#Hillar...

In [6]:
# Split into train and test
from sklearn.model_selection import train_test_split

train, test = train_test_split(availableTweets, test_size=0.2)

In [1]:
import nltk
pos = map(lambda x: nltk.pos_tag(nltk.word_tokenize(x)),train['Tweet']

NameError: name 's' is not defined