In [1]:
%matplotlib inline

First we need to import data into pandas dataframe

In [2]:
import pandas
df = pandas.read_csv('trainingData.txt', sep='\t', encoding='latin1', index_col='ID')
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Target</th>
      <th>Tweet</th>
      <th>Stance</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>101</th>
      <td>Atheism</td>
      <td>dear lord thank u for all of ur blessings forg...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Atheism</td>
      <td>Blessed are the peacemakers, for they shall be...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Atheism</td>
      <td>I am not conformed to this world. I am transfo...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Atheism</td>
      <td>Salah should be prayed with #focus and #unders...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Atheism</td>
      <td>And stay in your houses and do not display you...</td>
      <td>AGAINST</td>
    </tr>
  </tbody>
</table>
</div>

Then extract the topics (for now just focus on hillary)

In [3]:
listOfTopics = []
for row in df['Target']:
    if row not in listOfTopics:
        listOfTopics.append(row)
listOfTopics

['Atheism',
 'Climate Change is a Real Concern',
 'Feminist Movement',
 'Hillary Clinton',
 'Legalization of Abortion']

Create a function to turn the stance into usable values

In [4]:
def yVec(text):
    if text == 'AGAINST':
        return -1
    elif text == 'FAVOR':
        return 1
    else:
        return 0

Extract topic rows

In [5]:
trainDF = df.loc[df['Target'] == 'Hillary Clinton']
trainDF.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Target</th>
      <th>Tweet</th>
      <th>Stance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>639</td>
      <td>639</td>
      <td>639</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>1</td>
      <td>639</td>
      <td>3</td>
    </tr>
    <tr>
      <th>top</th>
      <td>Hillary Clinton</td>
      <td>Hillary is on her way to #Baltimore to be thei...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>639</td>
      <td>1</td>
      <td>361</td>
    </tr>
  </tbody>
</table>
</div>

Make corpus from tweets

In [6]:
corpus = []
Y = []
for index, row in trainDF.iterrows():
    corpus.append(row['Tweet'][:-6])
    Y.append(yVec(row['Stance']))

Generate ngrams of size 2-4.  Drop anything with less then 3 occurences

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import TweetTokenizer

ngram_vectorizer = CountVectorizer(ngram_range=(1, 7), analyzer='word', stop_words='english', min_df=20, tokenizer=lambda x: TweetTokenizer().tokenize(x))

X = ngram_vectorizer.fit_transform(corpus).toarray()

So what does a single tweet now look like?  Following the progression we've done

In [8]:
print('Tweet: \n', corpus[0])
print(TweetTokenizer().tokenize(corpus[0]))
print('---------------------------------------------------------------------------------\n')
print('Total features from corpus: ', len(ngram_vectorizer.get_feature_names()))
print('First 20: \n', ngram_vectorizer.get_feature_names()[:20])
print('---------------------------------------------------------------------------------\n')
print('Our tweet represented as a vector: \n')
print(X[0])
print('---------------------------------------------------------------------------------\n')
print('\nOur X: \n')
print('Shape: ', X.shape)

Tweet:
 RT @GunnJessica: Because I want young American women to be able to be proud of the 1st woman president
['RT', '@GunnJessica', ':', 'Because', 'I', 'want', 'young', 'American', 'women', 'to', 'be', 'able', 'to', 'be', 'proud', 'of', 'the', '1st', 'woman', 'president']
---------------------------------------------------------------------------------

Total features from corpus:  29
First 20:
 ['!', '! !', '! ! !', '"', '#hillaryclinton', '#tcot', '#wakeupamerica', '&', ',', '-', '.', '...', ':', '?', '@hillaryclinton', "can't", 'clinton', 'hillary', 'hillary clinton', "i'm"]
---------------------------------------------------------------------------------

Our tweet represented as a vector:

[0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0]
---------------------------------------------------------------------------------


Our X:

Shape:  (639, 29)

Time to apply a svm

In [12]:
testFullDF = pandas.read_csv('test.txt', sep='\t', encoding='latin1', index_col='ID')
testFullDF.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Target</th>
      <th>Tweet</th>
      <th>Stance</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Hillary Clinton</td>
      <td>@tedcruz And, #HandOverTheServer she wiped cle...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Hillary Clinton</td>
      <td>Hillary is our best choice if we truly want to...</td>
      <td>FAVOR</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hillary Clinton</td>
      <td>@TheView I think our country is ready for a fe...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Hillary Clinton</td>
      <td>I just gave an unhealthy amount of my hard-ear...</td>
      <td>AGAINST</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Hillary Clinton</td>
      <td>@PortiaABoulger Thank you for adding me to you...</td>
      <td>NONE</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
test_corpus = []
test_Y = []
for index, row in testFullDF.iterrows():
    test_corpus.append(row['Tweet'][:-6])
    test_Y.append(yVec(row['Stance']))

test_X = ngram_vectorizer.transform(test_corpus).toarray()

In [15]:
from sklearn.model_selection import cross_val_score
from sklearn import svm
clf = svm.SVC(kernel='poly', C=1, random_state=1)
scores = cross_val_score(clf, X, Y, cv=15)

And our score on quick test set:

In [16]:
print(scores)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

[ 0.55555556  0.55813953  0.55813953  0.55813953  0.55813953  0.55813953
  0.55813953  0.57142857  0.57142857  0.57142857  0.57142857  0.57142857
  0.57142857  0.57142857  0.57142857]
Accuracy: 0.57 (+/- 0.01)

Trying adaboost

In [17]:
from sklearn.ensemble import AdaBoostClassifier

test = AdaBoostClassifier(svm.SVC(probability=True, kernel='poly'), n_estimators=50, learning_rate=1.0, algorithm='SAMME')
scores = cross_val_score(test, X, Y, cv=5)
print(scores)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

[ 0.56153846  0.5625      0.56692913  0.56692913  0.56692913]
Accuracy: 0.56 (+/- 0.00)